In [18]:

import os
import pandas as pd

name = os.path.join(os.getcwd(), 'result', 'fDNC_pretrain__acc_top1_and_top5_combined.csv')  
name = os.path.join(os.getcwd(), 'result', 'fDNC_pretrain_model___acc_top1_and_top5_combined.csv')  
accs_full_fDNC = pd.read_csv(name)
accs_full_fDNC['Filename_1'] = accs_full_fDNC['Filename']

In [19]:
accs_full_fDNC['Filename'].tolist()

['6',
 '7',
 '2022-12-21-06',
 '20221106-21-00-09',
 '20230322-20-16-50',
 '5',
 '2023-01-06-08',
 '4',
 '20230918-17-21-0',
 '2021-12-03-w00-NP1',
 '20221106-21-47-31',
 '20230322-22-43-03',
 '20230506-12-56-00',
 '20230506-14-24-57',
 '1',
 '38_YAaDV',
 '2023-01-16-08',
 '20230510-13-25-46',
 '56_YAaDV',
 '20190928_08',
 '3',
 '2023-01-16-22',
 '2',
 '2023-01-13-07',
 '20191104_10',
 '20190929_06',
 '20230928-14-27-0',
 '64_YAaDV',
 '2023-01-23-15',
 '20190929_07',
 '2023-01-17-07',
 '20191030_03',
 '20190929_05',
 '2022-03-05-w00-NP1',
 '20190925_04',
 '11_YAaLR',
 '76_YAaDV',
 '2022-07-15-12',
 '20191030_07',
 '20190925_01',
 '2023-01-17-01',
 '20230928-11-14-0',
 '2023-01-09-15',
 '20190929_03',
 '20231013-11-11-0',
 '20190929_02',
 '20221028-18-48-00',
 '2023-01-19-08',
 '2023-01-23-21',
 '2022-02-12-w01-NP1',
 '20230909-16-48-09',
 '2023-01-05-18',
 '2023-01-23-08',
 '2023-01-10-07',
 '20221215-20-02-49',
 '2022-06-14-01',
 '2022-02-11-w03-NP1',
 '20230904-15-09-05',
 '20230928-16-0-0',
 '20230510-15-49-47',
 '2023-01-09-22',
 '2022-02-22-w04-NP1',
 '20191104_08',
 '2022-02-12-w00-NP1',
 '2022-06-14-07',
 '2022-06-14-13',
 '20230506-15-33-51',
 '20230322-18-57-04',
 '2022-06-28-01',
 '20_YAaLR',
 '2022-04-01-w00-NP1',
 '2023-03-07-01',
 '20230904-15-59-40',
 '20230918-13-21-0',
 '20190928_05',
 '20190928_11',
 '20190928_07',
 '20190928_13',
 '62_YAaLR',
 '20230510-12-53-34',
 '2023-01-06-01',
 '7_YAaLR',
 '2023-01-18-01',
 '20230506-15-01-45',
 '2022-04-26-w00-NP1',
 '55_YAaDV',
 '9',
 '20190924_02',
 '2022-07-20-01',
 '20221106-21-23-19',
 '20190924_03',
 '2023-01-16-01',
 '8',
 '2023-01-16-15',
 '2022-04-26-w01-NP1',
 '20190928_03',
 '20190928_01',
 '20230904-14-30-52',
 '20230322-21-41-10',
 '20190924_01',
 '20231013-13-28-0',
 '70_YAaLR',
 '2022-01-22-w04-NP1',
 '20230918-9-54-0']

In [20]:
accs_full_fDNC

,Filename,Best_template,top1,top2,top3,top4,top5,cost,Filename_1
0,6,2,0.601770,-1,-1,-1,0.761062,4.432300,6
1,7,9,0.846154,-1,-1,-1,0.931624,6.218977,7
2,2022-12-21-06,2023-01-10-07,0.417910,-1,-1,-1,0.671642,6.167896,2022-12-21-06
3,20221106-21-00-09,20221215-20-02-49,0.525862,-1,-1,-1,0.862069,4.023531,20221106-21-00-09
4,20230322-20-16-50,20230322-21-41-10,0.569106,-1,-1,-1,0.715447,3.950113,20230322-20-16-50
...,...,...,...,...,...,...,...,...,...
99,20190924_01,20190925_01,0.342541,-1,-1,-1,0.552486,6.012658,20190924_01
100,20231013-13-28-0,20231013-11-11-0,0.084416,-1,-1,-1,0.376623,17.020940,20231013-13-28-0
101,70_YAaLR,20_YAaLR,0.471503,-1,-1,-1,0.699482,6.656469,70_YAaLR
102,2022-01-22-w04-NP1,2022-02-12-w01-NP1,0.552941,-1,-1,-1,0.764706,6.620923,2022-01-22-w04-NP1
103,20230918-9-54-0,20230918-17-21-0,0.353333,-1,-1,-1,0.560000,17.312691,20230918-9-54-0

In [21]:
# Skipping files that have obvious artifacts or known alignment issues
skipfiles = ['20231013-9-30-0', '20230412-20-15-17', '2023-01-23-01', '20239828-11-14-0', '2023-01-05-01', '2023-01-10-14', '2022-06-28-07', '2022-07-26-01', '2023-01-19-15', '2022-07-15-06', '2022-08-02-01', '2023-01-09-08', '2023-01-09-28', '2023-01-10-14', '2023-01-17-14', '2023-01-19-22', '2023-01-23-01', '7_YAaLR', '11_YAaLR', '20_YAaLR', '38_YAaDV', '55_YAaDV', '56_YAaDV', '62_YAaLR', '64_YAaDV', '70_YAaLR', '76_YAaDV']

In [22]:
accs_full_fDNC[accs_full_fDNC['Filename_1']=='38_YAaDV']

,Filename,Best_template,top1,top2,top3,top4,top5,cost,Filename_1
15,38_YAaDV,70_YAaLR,0.015306,-1,-1,-1,0.204082,10.545957,38_YAaDV

In [23]:

name = "group_assigns.csv" 
name = os.path.join(os.getcwd(), '..',  'group_assigns.csv')
group_assigns_df = pd.read_csv(name) 

# group_original = group_assigns_df[group_assigns_df['Group'] == 'original']['Filename'].tolist()
filenames = group_assigns_df['Filename'].tolist()
print(group_assigns_df.head())

   Unnamed: 0  Filename     Group Dataset  ID_skip
0           0  56_YAaDV  original   NP_og    False
1           1  38_YAaDV  original   NP_og    False
2           2  76_YAaDV  original   NP_og    False
3           3  11_YAaLR  original   NP_og    False
4           4  64_YAaDV  original   NP_og    False

In [24]:
print(set(group_assigns_df['Dataset']))

{'EY', 'SK2', 'NP_og', 'SK1', 'HL', 'SF', 'KK'}

In [25]:
# Merge the DataFrames on the 'Filename' column
merged_df = pd.merge(group_assigns_df, accs_full_fDNC, on='Filename', how='right')

# Display the merged DataFrame
print("\nMerged DataFrame:")
print(merged_df.head())
print(set(merged_df['Dataset']))

Merged DataFrame:
   Unnamed: 0           Filename Group Dataset  ID_skip      Best_template  \
0          16                  6     1      HL    False                  2
1          15                  7     0      HL    False                  9
2          85      2022-12-21-06     0      SF    False      2023-01-10-07
3          56  20221106-21-00-09     1     SK1    False  20221215-20-02-49
4          57  20230322-20-16-50     2     SK1    False  20230322-21-41-10

       top1  top2  top3  top4      top5      cost         Filename_1
0  0.601770    -1    -1    -1  0.761062  4.432300                  6
1  0.846154    -1    -1    -1  0.931624  6.218977                  7
2  0.417910    -1    -1    -1  0.671642  6.167896      2022-12-21-06
3  0.525862    -1    -1    -1  0.862069  4.023531  20221106-21-00-09
4  0.569106    -1    -1    -1  0.715447  3.950113  20230322-20-16-50
{'EY', 'SK2', 'NP_og', 'SK1', 'HL', 'SF', 'KK'}

In [26]:
df_dataset = merged_df[~merged_df['Filename'].isin(skipfiles)]

In [27]:
low_labels = ['HL','SF','SK1','SK2']

high_labels = ['NP','EY','KK']

print(set(df_dataset['Dataset']))

{'EY', 'SK2', 'SK1', 'HL', 'SF', 'KK'}

In [28]:
import numpy as np
all_labels = low_labels+high_labels

In [29]:

print('fDNC pretrain model average accuracy low labels:')
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(low_labels)]['top1'])))
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(low_labels)]['top5']))) 

print('fDNC pretrain model average accuracy high labels:')
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(high_labels)]['top1'])))
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(high_labels)]['top5']))) 

print('fDNC pretrain model average accuracy:')
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(all_labels)]['top1'])))
print(np.mean(np.asarray(df_dataset[df_dataset['Dataset'].isin(all_labels)]['top5'])))

fDNC pretrain model average accuracy low labels:
0.5239493634278402
0.732141192373792
fDNC pretrain model average accuracy high labels:
0.2878479360398453
0.49678656775109753
fDNC pretrain model average accuracy:
0.4511095613613311
0.6595317869050884

In [30]:
# Group by 'Dataset' and compute mean and std for 'acc_top1' and 'acc_top5'
group_stats = df_dataset[df_dataset['Dataset'].isin(low_labels)].groupby('Group').agg(
    acc_top1_mean=('top1', 'mean'),
    acc_top1_std=('top1', 'std'),
    acc_top5_mean=('top5', 'mean'),
    acc_top5_std=('top5', 'std')
).reset_index()
print(group_stats)
print(np.mean(group_stats['acc_top1_mean']))
print(np.mean(group_stats['acc_top5_mean']))
print(np.std(group_stats['acc_top1_mean']))
print(np.std(group_stats['acc_top5_mean']))

  Group  acc_top1_mean  acc_top1_std  acc_top5_mean  acc_top5_std
0     0       0.564958      0.141644       0.741811      0.103353
1     1       0.532094      0.134155       0.765919      0.096575
2     2       0.554449      0.159267       0.751910      0.123786
3     3       0.481534      0.486947       0.659532      0.534813
4     4       0.479486      0.155900       0.735982      0.106267
0.5225042522801622
0.7310307468527155
0.03589958080654212
0.0371640874901724

In [31]:

# Group by 'Dataset' and compute mean and std for 'acc_top1' and 'acc_top5'
group_stats = df_dataset[df_dataset['Dataset'].isin(high_labels)].groupby('Group').agg(
    acc_top1_mean=('top1', 'mean'),
    acc_top1_std=('top1', 'std'),
    acc_top5_mean=('top5', 'mean'),
    acc_top5_std=('top5', 'std')
).reset_index()
print(group_stats)
print(np.mean(group_stats['acc_top1_mean']))
print(np.mean(group_stats['acc_top5_mean']))
print(np.std(group_stats['acc_top1_mean']))
print(np.std(group_stats['acc_top5_mean']))

  Group  acc_top1_mean  acc_top1_std  acc_top5_mean  acc_top5_std
0     0       0.229600      0.190188       0.419921      0.231388
1     1       0.403841      0.155188       0.620781      0.090276
2     2       0.228892      0.149691       0.454746      0.175312
3     3       0.345591      0.149697       0.590968      0.127287
4     4       0.254857      0.219843       0.417835      0.276971
0.2925562902318777
0.5008501668304342
0.07019248347429828
0.08725966719750243

In [32]:

# Group by 'Dataset' and compute mean and std for 'acc_top1' and 'acc_top5'
group_stats = df_dataset[df_dataset['Dataset'].isin(all_labels)].groupby('Group').agg(
    acc_top1_mean=('top1', 'mean'),
    acc_top1_std=('top1', 'std'),
    acc_top5_mean=('top5', 'mean'),
    acc_top5_std=('top5', 'std')
).reset_index()
print(group_stats)
print(np.mean(group_stats['acc_top1_mean']))
print(np.mean(group_stats['acc_top5_mean']))
print(np.std(group_stats['acc_top1_mean']))
print(np.std(group_stats['acc_top5_mean']))

  Group  acc_top1_mean  acc_top1_std  acc_top5_mean  acc_top5_std
0     0       0.458253      0.221969       0.639391      0.214399
1     1       0.496468      0.147868       0.725603      0.113911
2     2       0.445930      0.218956       0.652855      0.199329
3     3       0.436220      0.405424       0.636677      0.436974
4     4       0.417089      0.198108       0.647608      0.217995
0.45079207005642025
0.6604269241096403
0.02650991281756666
0.03309410795983355

In [33]:
# # Group by 'Dataset' and compute mean and std for 'acc_top1' and 'acc_top5'
# group_stats = merged_df.groupby('Dataset').agg(
#     acc_top1_mean=('top1', 'mean'),
#     acc_top1_std=('top1', 'std'),
#     acc_top5_mean=('top5', 'mean'),
#     acc_top5_std=('top5', 'std')
# ).reset_index()