In [1]:
import os 
# print(os.getcwd())

In [2]:
import os 
import sys 
def add_path(path):
    if path not in sys.path:
        sys.path.insert(0, path)
this_dir = os.getcwd()
lib_path = os.path.join(os.getcwd(), '..', '..')
# print(lib_path)
add_path(lib_path)

In [10]:


import pandas as pd
 
# fDNC_train_wo_HL__acc_top1_and_top5_and_cost lab_split.csv
name = '/Users/lengyuner/Desktop/fDNC_Neuron_ID-master/result/lab_split/fDNC_all__acc_top1_and_top5_combined lab_split.csv'

name = "pkl_data_for_fDNC/benchmark_by_lab_split/result/fDNC_all__acc_top1_and_top5_combined lab_split.csv"
name = os.path.join(os.getcwd(), 'result', 'fDNC_all__acc_top1_and_top5_combined lab_split.csv')
accs_full_fDNC = pd.read_csv(name)

accs_full_fDNC['Filename_1'] = accs_full_fDNC['Filename']
Filename_list_ = accs_full_fDNC['Filename'].tolist()

In [11]:
accs_full_fDNC

,Filename,Best_template,top1,top2,top3,top4,top5,cost,task,Filename_1
0,6,2,0.699115,0.752212,0.796460,0.805310,0.805310,5.059727,train_wo_HL,6
1,7,9,0.786325,0.880342,0.931624,0.940171,0.940171,4.530505,train_wo_HL,7
2,5,4,0.837398,0.894309,0.926829,0.926829,0.943089,4.474000,train_wo_HL,5
3,4,1,0.819672,0.885246,0.893443,0.901639,0.901639,4.122531,train_wo_HL,4
4,1,4,0.831858,0.876106,0.902655,0.902655,0.920354,3.967013,train_wo_HL,1
...,...,...,...,...,...,...,...,...,...,...
89,2023-01-06-01,2023-01-09-15,0.571429,0.688312,0.714286,0.753247,0.753247,7.283980,train_wo_SF,2023-01-06-01
90,2023-01-18-01,2022-08-02-01,0.633333,0.733333,0.777778,0.788889,0.811111,4.867930,train_wo_SF,2023-01-18-01
91,2022-07-20-01,2022-08-02-01,0.525773,0.639175,0.701031,0.731959,0.762887,6.051857,train_wo_SF,2022-07-20-01
92,2023-01-16-01,2022-08-02-01,0.611765,0.658824,0.717647,0.741176,0.752941,5.782781,train_wo_SF,2023-01-16-01
93,2023-01-16-15,2022-08-02-01,0.527473,0.670330,0.758242,0.802198,0.802198,6.465119,train_wo_SF,2023-01-16-15

In [14]:
# Skipping files that have obvious artifacts or known alignment issues
skipfiles = ['20231013-9-30-0', '20230412-20-15-17', '2023-01-23-01', '20239828-11-14-0', '2023-01-05-01', '2023-01-10-14', '2022-06-28-07', '2022-07-26-01', '2023-01-19-15', '2022-07-15-06', '2022-08-02-01', '2023-01-09-08', '2023-01-09-28', '2023-01-10-14', '2023-01-17-14', '2023-01-19-22', '2023-01-23-01', '7_YAaLR', '11_YAaLR', '20_YAaLR', '38_YAaDV', '55_YAaDV', '56_YAaDV', '62_YAaLR', '64_YAaDV', '70_YAaLR', '76_YAaDV']
# accs_full_fDNC[accs_full_fDNC['Filename_1']=='38_YAaDV']

In [16]:

name = "group_assigns.csv" 
name = os.path.join(os.getcwd(), '..',  'group_assigns.csv')
group_assigns_df = pd.read_csv(name) 

# group_original = group_assigns_df[group_assigns_df['Group'] == 'original']['Filename'].tolist()
filenames = group_assigns_df['Filename'].tolist()
print(group_assigns_df.head())

   Unnamed: 0  Filename     Group Dataset  ID_skip
0           0  56_YAaDV  original   NP_og    False
1           1  38_YAaDV  original   NP_og    False
2           2  76_YAaDV  original   NP_og    False
3           3  11_YAaLR  original   NP_og    False
4           4  64_YAaDV  original   NP_og    False

In [17]:
print(set(group_assigns_df['Dataset']))

{'EY', 'SF', 'NP_og', 'SK1', 'SK2', 'HL', 'KK'}

In [18]:
# Merge the DataFrames on the 'Filename' column
merged_df = pd.merge(group_assigns_df, accs_full_fDNC, on='Filename', how='right')

# Display the merged DataFrame
print("\nMerged DataFrame:")
print(merged_df.head())
print(set(merged_df['Dataset']))

Merged DataFrame:
   Unnamed: 0 Filename Group Dataset  ID_skip Best_template      top1  \
0          16        6     1      HL    False             2  0.699115
1          15        7     0      HL    False             9  0.786325
2          14        5     4      HL    False             4  0.837398
3          13        4     3      HL    False             1  0.819672
4          12        1     2      HL    False             4  0.831858

       top2      top3      top4      top5      cost         task Filename_1
0  0.752212  0.796460  0.805310  0.805310  5.059727  train_wo_HL          6
1  0.880342  0.931624  0.940171  0.940171  4.530505  train_wo_HL          7
2  0.894309  0.926829  0.926829  0.943089  4.474000  train_wo_HL          5
3  0.885246  0.893443  0.901639  0.901639  4.122531  train_wo_HL          4
4  0.876106  0.902655  0.902655  0.920354  3.967013  train_wo_HL          1
{'EY', 'SF', 'SK1', 'SK2', 'HL', 'KK'}

In [19]:
df_dataset = merged_df[~merged_df['Filename'].isin(skipfiles)]

In [20]:
low_labels = ['HL','SF','SK1','SK2']

high_labels = ['NP','EY','KK']

print(set(df_dataset['Dataset']))

import numpy as np
all_labels = low_labels+high_labels

{'EY', 'SF', 'SK1', 'SK2', 'HL', 'KK'}

In [21]:
# Group by 'Dataset' and compute mean and std for 'acc_top1' and 'acc_top5'
group_stats = df_dataset[df_dataset['Dataset'].isin(all_labels)].groupby('Dataset').agg(
    acc_top1_mean=('top1', 'mean'),
    acc_top1_std=('top1', 'std'),
    acc_top5_mean=('top5', 'mean'),
    acc_top5_std=('top5', 'std')
).reset_index()
print(group_stats)
print(np.mean(group_stats['acc_top1_mean']))
print(np.mean(group_stats['acc_top5_mean']))
print(np.std(group_stats['acc_top1_mean']))
print(np.std(group_stats['acc_top5_mean']))

  Dataset  acc_top1_mean  acc_top1_std  acc_top5_mean  acc_top5_std
0      EY       0.440563      0.117216       0.692031      0.134548
1      HL       0.773097      0.050805       0.903281      0.041836
2      KK       0.232772      0.129401       0.401349      0.163094
3      SF       0.554588      0.081467       0.756774      0.075215
4     SK1       0.517464      0.094545       0.760620      0.089885
5     SK2       0.761223      0.054647       0.908383      0.059211
0.5466179185504202
0.7370730088117637
0.18619356046076255
0.16963395830261552